name: Build & Push

on:
  workflow_call:

jobs:
  build-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Setup Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1

      - name: Add sha to GITHUB_OUTPUT
        id: git-sha-short
        run: echo "sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Get Visibility
        id: visibility
        run: |
          echo visibility=$(gh api "repos/${{ github.repository }}" --jq .visibility)  >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure remote
        id: remote
        run: |
          echo "registry=${{ steps.visibility.outputs.visibility == 'public' && 'ghcr.io' || '917951871879.dkr.ecr.eu-west-1.amazonaws.com' }}" >> $GITHUB_OUTPUT
          echo "repository=${{ steps.visibility.outputs.visibility == 'public' && github.repository || github.event.repository.name }}" >> $GITHUB_OUTPUT

      - name: AWS Credentials
        if: ${{ steps.remote.outputs.registry == '917951871879.dkr.ecr.eu-west-1.amazonaws.com'}}
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: arn:aws:iam::917951871879:role/GitHubActionsBgOrg
          aws-region: eu-west-1

      - name: ECR Login
        if: ${{ steps.remote.outputs.registry == '917951871879.dkr.ecr.eu-west-1.amazonaws.com'}}
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 #v2.0.1

      - name: Docker Login
        if: ${{ steps.remote.outputs.registry == 'ghcr.io' }}
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract image metadata
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        with:
          images: ${{ steps.remote.outputs.registry }}/${{ steps.remote.outputs.repository }}
          tags: |
              type=raw,value=edge,enable={{is_default_branch}}
              type=raw,value=git-${{ steps.git-sha-short.outputs.sha }}

      - name: Build image
        id: build
        uses: docker/build-push-action@32945a339266b759abcbdc89316275140b0fc960 # v6.8.0
        with:
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          load: true

      - name: Save metadata
        run: echo '${{ steps.build.outputs.metadata }}' > build-push-metadata.json

      - name: Upload metadata
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874 # v4.4.0
        with:
          name: build-push-metadata.json
          path: build-push-metadata.json

      - name: Push image
        run: docker push --all-tags ${{ steps.remote.outputs.registry }}/${{ steps.remote.outputs.repository }}
