name: Build & Push

on:
  workflow_call:

jobs:
  build-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Setup Buildx
        uses: docker/setup-buildx-action@f7ce87c1d6bead3e36075b2ce75da1f6cc28aaca # v3.9.0

      - name: Add sha to GITHUB_OUTPUT
        id: git-sha-short
        run: echo "sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Get Visibility
        id: visibility
        run: |
          echo visibility=$(gh api "repos/${{ github.repository }}" --jq .visibility)  >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure remote
        id: remote
        run: |
          echo "registry=${{ steps.visibility.outputs.visibility == 'public' && 'ghcr.io' || '917951871879.dkr.ecr.eu-west-1.amazonaws.com' }}" >> $GITHUB_OUTPUT
          echo "repository=${{ steps.visibility.outputs.visibility == 'public' && github.repository || github.event.repository.name }}" >> $GITHUB_OUTPUT

      - name: AWS Credentials
        if: ${{ steps.remote.outputs.registry == '917951871879.dkr.ecr.eu-west-1.amazonaws.com'}}
        uses: aws-actions/configure-aws-credentials@4fc4975a852c8cd99761e2de1f4ba73402e44dd9 # v4.0.3
        with:
          role-to-assume: arn:aws:iam::917951871879:role/GitHubActionsBgOrg
          aws-region: eu-west-1

      - name: ECR Login
        if: ${{ steps.remote.outputs.registry == '917951871879.dkr.ecr.eu-west-1.amazonaws.com'}}
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 #v2.0.1

      - name: Docker Login
        if: ${{ steps.remote.outputs.registry == 'ghcr.io' }}
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract image metadata
        id: meta
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96 # v5.6.1
        with:
          images: ${{ steps.remote.outputs.registry }}/${{ steps.remote.outputs.repository }}
          tags: |
              type=raw,value=edge,enable={{is_default_branch}}
              type=raw,value=git-${{ steps.git-sha-short.outputs.sha }}

      - name: Build image
        id: build
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991 # v6.13.0
        with:
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          load: true

      - name: Save metadata
        run: echo '${{ steps.build.outputs.metadata }}' > build-push-metadata.json

      - name: Upload metadata
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: build-push-metadata.json
          path: build-push-metadata.json

      - name: Push image
        run: docker push --all-tags ${{ steps.remote.outputs.registry }}/${{ steps.remote.outputs.repository }}
