name: Check Poetry Project

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Set up Python
      uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 #v5.2.0
      with:
        python-version-file: pyproject.toml
    - name: Install poetry
      run: pipx install poetry==1.8.3
    - name: Check poetry.lock
      run: poetry check
    - name: Install poetry env from pyproject.toml
      run: poetry install
    - name: Run tests
      run: poetry run pytest
    - name: Check lint rules
      run: poetry run flake8
    - name: Check code style
      run: poetry run black --check .
    - name: Check type annotations
      run: poetry run mypy .
