name: Check Poetry Project

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
    - name: Set up Python
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b #v5.3.0
      with:
        python-version-file: pyproject.toml
    - name: Install poetry
      run: pipx install poetry==1.8.3
    - name: Check poetry.lock
      run: poetry check
    - name: Install poetry env from pyproject.toml
      run: poetry install
    - name: Run tests
      run: poetry run pytest
    - name: Check lint rules
      run: poetry run flake8
    - name: Check code style
      run: poetry run black --check .
    - name: Check type annotations
      run: poetry run mypy .
