name: Release

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: tag
        id: metadata
        run: |
          echo release_tag=v$(date '+%Y.%m.%d') >> $GITHUB_OUTPUT
      - name: release
        run: |
          gh release create ${{ steps.metadata.release_tag }} \
            --generate-notes
        env:
          GH_TOKEN: ${{ github.token }}
          